<!DOCTYPE html>
<html>
  <head>
    <title>Thefirstrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
    
  <% if current_user %>
    <p>こんにちは <%= current_user.email %></p>
    
    <p> <% link_to "log out", destroy_user_session_path, method: :delete %></p>
<% else %>
    <div>
        <p style= "margin-right: 5px"> <%= link_to "サインイン", new_user_session_path %></p>
        <p> <%= link_to "ユーザ登録", new_user_registration_path %> </p>
    </div>
<% end %>
<hr/>

<%= yield%>
  
  </body>
</html>
